.login {
    min-height: 100vh;
    color: white;
}

.login-right {
    background-color: rgb(76, 112, 192);
}

.bg-image {
    background-image: url("/assets/login/images/Picture_login.png");
    background-size: 40vw;
    background-position: center;
    background-repeat: no-repeat;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
